*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button{
  margin-left: 220px;
  padding: 8px 18px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: rgb(217, 235, 251);
}